:root{
--one-accent-color:#188CE8;
--accent-color:#2196F3;
--primary-text-color:#757575;
--color-dark:#212121;
--background-dark:#2F303A;
--white-color:#FFFFFF;
--background-light-btn:#F5F4FA;
--dark-logo:#000000;
--background-grey:#F5F4FA;

}

.link{
    text-decoration: none;
}

.list{
    list-style: none;   
}

img{
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

body{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

.accent-logo{
    color:var(--accent-color);
}

.dark-logo{
    color: var(--dark-logo);
}

.wight-logo{
    color: var(--white-color);
}


.logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


.menu-link{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--color-dark);
}

.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}

.contact {
    color:var(--primary-text-color) ;
    font-family: Roboto, sans-serif; 
    font-size: 14px ;
    line-height: 1.14;
    letter-spacing: 0.02em ;
    font-weight: 500;
    
}

.header-single {
    font-family: 'Roboto', sans-serif ;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: var(--white-color);
    letter-spacing: 0,06em;
    text-transform: uppercase;
}

.header-second-work {
    font-family: 'Roboto',sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-dark);
}

.header-portfolio {
    font-family: 'Roboto', sans-serif;
    font-style: Bold; 
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark);
}

.portfolio-page {
    font-family: 'Roboto', sans-serif;
    font-style: Regular; 
    font-size: 16px; 
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

.header-speciality {
    font-family: 'Roboto', sans-serif;
    font-style:  Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14; 
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--color-dark);
}

.about-spesiality{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

.header-name-team {
    font-family: 'Roboto', sans-serif; 
    font-style: Medium ;
    font-size: 16px ;
    line-height: 1.18;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--color-dark);
}

.about-team{
    font-family: 'Roboto', sans-serif; 
    font-style: Regular ;
    font-size: 16px ;
    font-weight: 400;
    line-height: 1.8; 
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}



.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.modal-open-btn {
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--white-color);
    background-color: var(--accent-color);
   
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--one-accent-color);
}

.backgroud-section{
    background-color: var(--background-dark);
}

.background-footer{
    background-color:var(--background-dark) ;
}

.location {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--white-color);
}

.location:hover,
.location:focus {
    color:var(--accent-color);
    
}

.footer-contact{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px ;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

.menu-button-item{
    background-color: var(--background-light-btn);
    color:var(--color-dark);
    font-family: 'Roboto';
    font-style: Medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.menu-button-item:hover,
.menu-button-item:focus {
    background-color:var(--accent-color);
    color: var(--white-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.background-our-team{
    background-color: var(--background-grey);
}
.menu-team-item{
    background-color:var(--white-color);
}
.current {
    color: var(--accent-color);
}

